@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* MAIN STYLES */

body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 2rem;
}

img {
  max-width: 4rem;
  position: absolute;
  left: 12vw;
}

button {
  font-family: "Lexend Deca";
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 25px;
  background-color: hsl(0, 0%, 95%);
}

.first {
  background-color: hsl(31, 77%, 52%);
  position: relative;
  border-radius: 10px 10px 0 0;
}

.b-first {
  color: hsl(31, 77%, 52%);
}

.second {
  background-color: hsl(184, 100%, 22%);
  position: relative;
}

.b-second {
  color: hsl(184, 100%, 22%);
}

.third {
  background-color: hsl(179, 100%, 13%);
  position: relative;
  border-radius: 0 0 10px 10px;
}

.b-third {
  color: hsl(179, 100%, 13%);
}

button:hover,
button:focus {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: 15% auto;
  }

  .class {
    height: 33.34%;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  h2 {
    padding-bottom: 1rem;
  }

  .text {
    max-width: 70%;
    margin-inline: auto;
    padding-top: 20%;
  }

  img {
    max-width: 4rem;
    position: absolute;
    left: 12vw;
    top: 10%;
  }

  button {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 959px) {
  .card {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: 15% auto;
  }

  .class {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .text {
    max-width: 70%;
    margin-inline: auto;
    padding-top: 10%;
  }

  button {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1250px) {
  .card {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    margin: 15vh auto;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: -10rem;
    font-size: 3rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
    max-width: 60%;
    margin: 0 auto;
  }

  .par {
    margin-top: 5rem;
  }

  .first {
    border-radius: 10px 0 0 10px;
  }

  .third {
    border-radius: 0 10px 10px 0;
  }

  img {
    left: 5vw;
    top: 3vh;
  }

  button {
    width: 100%;
    padding: 0.75rem 1.5rem;
  }
}

@media only screen and (min-width: 1251px) {
  .card {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    margin: 15vh auto;
  }

  h2 {
    margin-top: 4rem;
    margin-bottom: -10rem;
    font-size: 3rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
    max-width: 60%;
    margin: 0 auto;
  }

  .par {
    margin-top: 7rem;
  }

  .first {
    border-radius: 10px 0 0 10px;
  }

  .third {
    border-radius: 0 10px 10px 0;
  }

  img {
    left: 5vw;
    top: 5vh;
  }

  button {
    width: 80%;
    padding: 1rem 2rem;
  }
}
